<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.earllarry.intelligentfinance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardDrawer"
            android:label="@string/title_activity_dashboard_drawer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuIngreso"
            android:label="@string/title_activity_menu_ingreso"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuGasto"
            android:label="@string/title_activity_menu_gasto"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuMetas"
            android:label="@string/title_activity_menu_metas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuTarjetas"
            android:label="@string/title_activity_menu_tarjetas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AgregarIngreso"
            android:label="@string/title_activity_agregar_ingreso"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AgregarGasto"
            android:label="@string/title_activity_agregar_gasto"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AgregarMeta"
            android:label="@string/title_activity_agregar_meta"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AgregarTarjeta"
            android:label="@string/title_activity_agregar_tarjeta"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModificarIngreso"
            android:label="@string/title_activity_modificar_ingreso"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModificarGasto"
            android:label="@string/title_activity_modificar_gasto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModificarMeta"
            android:label="@string/title_activity_modificar_meta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModificarTarjeta"
            android:label="@string/title_activity_modificar_tarjeta"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
